# MySQL
SPRING_DATASOURCE_URL=jdbc:mysql://<mysql-host>:3306/<db-name>
SPRING_DATASOURCE_USERNAME=<username>
SPRING_DATASOURCE_PASSWORD=<password>

# MongoDB (Read DB)
SPRING_DATA_MONGODB_READ_URI=mongodb://<username>:<password>@<mongo-host>:27017/<db-name>?authSource=admin

# Redis (Token Cluster)
REDIS_CLUSTER_NODES=<redis-node-1>:6379,<redis-node-2>:6379,<redis-node-3>:6379

# OAuth2 - Kakao
KAKAO_CLIENT_ID=<kakao-client-id>
KAKAO_CLIENT_SECRET=<kakao-client-secret>
KAKAO_REDIRECT_URI=http://<alb-public-ip>/api/user/login/oauth2/code/kakao

# OAuth2 - Naver
NAVER_CLIENT_ID=<naver-client-id>
NAVER_CLIENT_SECRET=<naver-client-secret>
NAVER_REDIRECT_URI=http://<alb-public-ip>/api/user/login/oauth2/code/naver

# JWT
JWT_SECRET=<your-jwt-secret>

# Object Storage (Kakao Cloud)
STORAGE_ACCESS_KEY=<your-access-key>
STORAGE_SECRET_KEY=<your-secret-key>
BUCKET_NAME=<your-bucket-name>
BUCKET_ENDPOINT=https://objectstorage.kr-central-2.kakaocloud.com

# Sentry
SENTRY_REPOSITORY_DSN=https://<public-key>@o<org-id>.ingest.us.sentry.io/<project-id>
SENTRY_ENVIRONMENT=dev
SENTRY_SERVERNAME=<your-service-name>  # ex. playus-user
SENTRY_REPOSITORY_URI=https://sentry.io/organizations/<org-name>/issues/?project=<project-id>&statusPeriod=24h

# Slack Webhook
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...

# Feign - Internal API
FEIGN_COMMUNITY_URL=http://<community-service>.<namespace>.svc.cluster.local

# Frontend Redirect URIs
FRONT_SUCCESS_REDIRECT_URI=http://<frontend-ip-or-domain>/#/choice-team
FRONT_SUCCESS_REDIRECT_URI2=http://<frontend-ip-or-domain>/#/home
FRONT_FAIL_REDIRECT_URI=http://<frontend-ip-or-domain>/#/login
