# MySQL
SPRING_DATASOURCE_URL=jdbc:mysql://<mysql-host>:3306/<db-name>
SPRING_DATASOURCE_USERNAME=<username>
SPRING_DATASOURCE_PASSWORD=<password>

# MongoDB (Read DB)
SPRING_DATA_MONGODB_READ_URI=mongodb://<username>:<password>@<read-mongo-host>:27017/<db-name>?authSource=admin

# MongoDB (Chat DB)
SPRING_DATA_MONGODB_CHAT_URI=mongodb://<username>:<password>@<chat-mongo-host>:27018/<db-name>?authSource=admin

# Redis (Lock)
REDIS_HOST=<redis-host>  # ex) dev-redis-lock.dev-twp-service.svc.cluster.local
REDIS_PORT=6379

# JWT
JWT_SECRET=<your-jwt-secret>

# Kafka
KAFKA_BOOTSTRAP_SERVERS=<kafka-bootstrap-ip>:9092
KAFKA_PRODUCER_RETRIES=3
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_ENABLE_IDEMPOTENCE=true
KAFKA_PRODUCER_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION=5
KAFKA_CONSUMER_GROUP_ID=default-group
KAFKA_CHAT_CONSUMER_GROUP_ID=chat-group
KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
KAFKA_CONSUMER_ENABLE_AUTO_COMMIT=false
KAFKA_ADMIN_CLIENT_ID=admin-client
KAFKA_TOPIC_CHAT_ROOM=chat-room
KAFKA_PARTITION_COUNT=3
KAFKA_REPLICATION_FACTOR=1

# Object Storage (Kakao Cloud)
STORAGE_ACCESS_KEY=<your-access-key>
STORAGE_SECRET_KEY=<your-secret-key>
BUCKET_NAME=<your-bucket-name>
BUCKET_ENDPOINT=https://objectstorage.kr-central-2.kakaocloud.com

# Sentry
SENTRY_REPOSITORY_DSN=https://<public-key>@o<org-id>.ingest.us.sentry.io/<project-id>
SENTRY_ENVIRONMENT=prod
SENTRY_SERVERNAME=<your-service-name>
SENTRY_REPOSITORY_URI=https://sentry.io/organizations/<org-name>/issues/?project=<project-id>&statusPeriod=24h

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...

# Internal API Endpoints
FEIGN_USER_URL=http://<user-service>.<namespace>.svc.cluster.local
FEIGN_MATCH_URL=https://<public-endpoint-or-tunnel-url>

# WebSocket CORS 허용 Origin
WEBSOCKET_ALLOWED_ORIGIN=http://<frontend-public-ip-or-domain>
