# MySQL
SPRING_DATASOURCE_URL=jdbc:mysql://<mysql-host>:3306/<db-name>
SPRING_DATASOURCE_USERNAME=<username>
SPRING_DATASOURCE_PASSWORD=<password>

# MongoDB (Read DB)
SPRING_DATA_MONGODB_READ_URI=mongodb://<username>:<password>@<mongodb-host>:27017/<db-name>?authSource=admin

# JWT Secret
JWT_SECRET=<your-jwt-secret>

# Object Storage (Kakao Cloud)
STORAGE_ACCESS_KEY=<your-access-key>
STORAGE_SECRET_KEY=<your-secret-key>
BUCKET_NAME=<your-bucket-name>
BUCKET_ENDPOINT=https://objectstorage.kr-central-2.kakaocloud.com

# Sentry
SENTRY_REPOSITORY_DSN=https://<public-key>@o<org-id>.ingest.us.sentry.io/<project-id>
SENTRY_ENVIRONMENT=prod
SENTRY_SERVERNAME=<your-service-name>
SENTRY_REPOSITORY_URI=https://sentry.io/organizations/<org-name>/issues/?project=<project-id>&statusPeriod=24h

# Slack Webhook
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...

# Feign Internal API (User Service)
FEIGN_USER_URL=http://<user-service-name>.<namespace>.svc.cluster.local